<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.ant.msg.mapper.MessageBoardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.ant.msg.entity.MessageBoard">
        <id column="Id" property="Id" />
        <result column="Title" property="Title" />
        <result column="Content" property="Content" />
        <result column="Email" property="Email" />
        <result column="Name" property="Name" />
        <result column="CreateTime" property="CreateTime" />
        <result column="Valid" property="Valid" />
    </resultMap>

</mapper>
